* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
body {
  height: 100vw;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.logo {
  background-color: aqua;
  padding: 1rem;
}

.menu {
  background-color: rgb(43, 121, 75);
  padding: 1rem;
}

nav {
  padding: 4rem;
  background-color: red;
  color: white;
}
main section .row1 {
  height: auto;
  align-content: stretch;
}
.main_part {
  background-color: lawngreen;
  height: calc(100vh - 330px);
  border: 1px solid #888;
}

.main_part2 {
  background-color: tomato;
  padding: 1rem;
}

footer {
  padding: 2rem;
  background-color: hotpink;
}
